video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: fill;
}

.content{
position: relative;
color: yellow;
text-align: center;
padding-top: 100px;

}


img {
float:right;
border-color: yellow;
border-radius: 1;
border-style: groove;

}


h2 {


    color:yellowgreen
}


ul {



}



@keyframes slideInRight {
    
    from {
 transform: translateX(300px);
     }
   

    to {
transform: translateX(0px);

    }

}


@keyframes slideInLeft {
    from{
      transform: translateX(-300px);
   
    }
   
    to{
      transform: translateX(0px);
   

    }

}
